* {
    margin: 0;
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: black;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Manuale', serif;
    font-family: "Times New Roman", Times, serif; 
    margin-left: auto;
    margin-right: auto;
  }
.container1, .footer{
    background-image: url(../images/watercolor.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
}

.navbar {
    text-align: justify;
    min-width: 500px;
}
.navbar:after{
    content: '';
    display: inline-block;
    width: 100%;

}
.navbar, li{
    display: inline-block;
}

li, a {
    text-align: justify;
    display: inline-block;
    padding-right: 600px;
}

.container1 {
    height: 70px;
    width: auto;
}
.footer {
    height: 70px;
    width: auto;
}
img {
    size: 50%;
    height: 65px;
    width: auto;
}
a {
    color: transparent;
    margin-top: 65px;
}

h2 {
    display: inline-block;
    font-size: 300px;
}
.container1, a{
    background-color:transparent;
    color: #0e8f91;
} 
.container1 {
    display: flexbox;
}
.active, .active:hover{
    background-color: white;
    color: black;
    border-radius: 2px;
  }

a .active, .menu {
    list-style: none;
    padding-right: 10px;
    padding-top: 50px;
    float: right;
    size: 200px;
    position: relative;
}
h1 {

    color: #005576;
    text-align: left;
    font-size: 50px
    font-weight: 5px;
}

a {
    float: right;
    padding: 10px;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}